:root {
    --bread: url('./Images/bread.jpg')
    --milk: url('./Images/milk.jpg')
    --cheese: url('./Images/cheese.jpg')
    --butter: url('./Images/butter.jpg')
    --soup: url('./Images/soup.jpg')
}