.menuSection {
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__image {
    display: flex;
    position: relative;
    width: 350px;
    height: 150px;
    background-size: cover;
  }
}
