$imageWidth: 184px;
$imageHeight: 125px;

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1vw 0 1vw;

  &__image {
    width: $imageWidth;
    height: $imageHeight;
    background-size: cover;
    border: 1px solid rgb(0, 0, 0);

    &--bread {
      background-image: url("../Images/bread.jpg");
    }
    &--milk {
      background-image: url("../Images/milk.jpg");
    }
    &--soup {
      background-image: url("../Images/soup.jpg");
    }
    &--butter {
      background-image: url("../Images/butter.jpg");
    }
    &--cheese {
      background-image: url("../Images/cheese.jpg");
    }
  }
}
