$width: 350px;
$height: 150px;
$mobileWidth: 800px;

.menuSection {
  display: flex;
  justify-content: center;

  @media (max-width: $mobileWidth) {
    flex-direction: column;
  }

  &__image {
    display: flex;
    position: relative;
    width: $width;
    height: $height;
    background-size: cover;
  }
}
